#container {
    width: 100%;
    height: 100vh;
    background-color: black; 
}

#column {
    width: 30%;
    height: 100%;
    background-color: cadetblue;
    float: left
}

#mainarea{ 
    width: 70%;
    float: left;

}
#profilepic{
    width: 100%;
}

.pouButton {
    width: 90%;
    height: 250px;
    margin: 30px;
    background-color: cadetblue;
    font-size: 100px;
    font-family: 'Arial';
    text-align: center;    
 }

.card{ 
   width:200px;
    height: 100px;
    background-color: 




}




























































